@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*FORMATAÇÕES GERAIS*/
body {
    height: 100vh;
    background-color: #faf7fd;
    font-family: "Poppins", sans-serif;
    font-weight: lighter;
    font-size: 16px;
    color: #bb99dd;
}

/*FORMATAÇÃO IMAGEM*/
#picture {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 207px;
}

#picture img {
    border-radius: 50%;
    margin-right: 621px;
    margin-left: 619px;
}

#picture p {
    margin-top: 22px;
}

/*LINKS*/
#links {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 33px;
}

#links a {
    width: 326px;
    height: 49px;
    margin-bottom: 16px;
    border: 2px solid #bb99dd;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 29px;
    font-weight: 400px;
    text-transform: uppercase;
    text-decoration: none;
    color: #bb99dd;
}
#links a:hover{
    background-color: #bb99dd;
    color: #faf7fd;
    transition: .3s;
}

/*FOOTER*/
footer {
    width: 236px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    margin-top: 68px;
}

footer img {
    cursor: pointer;
}

/*MEDIA QUERIES*/
@media (max-width: 600px ) {
    /*FORMATAÇÕES GERAIS*/
    body {
        width: 414px;
        height: 896px;
    }
}